.box {
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    min-height: calc(100vh - 280px);
    padding: 100px 0px;
}

.name {
    color: 	#03396c;
    display: inline;
    font-size: 40px !important;
    font-weight: bold !important;
    font-family: 'Helvetica Neue', sans-serif !important;
}

.text {
    color: 	#000;
    font-size: 35px !important;
}