.box {
    text-align: left;
    width: 100%;
}

.card {
    background: linear-gradient(90deg, rgba(179,205,224,1) 25%, rgba(255,255,255,1) 60%);
    border-radius: 55px !important;
    padding: 35px 20px;
    width: 65%;
    height: fit-content;
}

.title {
    color: #03396c;
    font-size: 60px !important;
    font-weight: bolder !important;
}