.button {
    background-color: #011f4b !important;
    color: #b3cde0 !important;
    padding: 8px !important;
}

.selected {
    background-color: #b3cde0 !important;
    color: #011f4b !important;
    padding: 8px !important;
}

.selected:hover {
    background-color: #b3cde0 !important;
    color: #011f4b !important;
}